.button--primary {
  background-color: $primary-color;
  color: #fff;
  padding: 8px 16px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 16px;
}