.currency__search__padded {
  padding: 20px;
  padding-bottom: 12px;
  gap: 14px;
}
.currency__search__row__between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.currency__search__input {
  margin-top: 12px;
  position: relative;
  display: flex;
  padding: 16px;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  background: none;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #333;
  border-style: solid;
  border: 1px solid #ddd;
  -webkit-appearance: none;

  font-size: 18px;

  ::placeholder {
    color: #777;
  }
  transition: border 100ms;
  :focus {
    border: 1px solid #333;
    outline: none;
  }
}
