@import "../theme/colors";

.body__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 32px 16px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: $white;
  background-image: url(../../assets/animation.svg);
  background-position: center center;
  background-size: 100% 100%;
  background-size: cover;
}
