$primary-color: #0693e3;
$primary-color-10: #0584cc;
$primary-color-20: #0576b6;
$primary-color-30: #04679f;
$primary-color-40: #045888;
$primary-color-50: #034a72;
$primary-color-60: #023b5b;
$primary-color-70: #022c44;
$primary-color-80: #011d2d;
$primary-color-90: #010f17;

$black: #000;
$white: #fff;
